@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<table border="0" width="100%">
    <tr>
        <td width="100" style="padding: 10px;">
            <label for="userInput" class="col-2 col-form-label">User: </label>
        </td>
        <td style="padding: 10px;">
            <div class="col col-sm-6">
                <input id="userInput" class="form-control" />
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding: 10px;">
            <label for="message" class="col-2 col-form-label">Message: </label>
        </td>
        <td style="padding: 10px;">
            <div class="col col-sm-6">
                <input id="messageInput" class="form-control" />
            </div>
        </td>
    </tr>
</table>
<br />
<button id="send" type="button" class="btn btn-primary">Send Message</button>

<hr>

<ul id="messageList"></ul>

@section Scripts
{
    <!-- <snippet_CDN> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <!-- </snippet_CDN> -->
    <script src="~/chat.js"></script>
}