@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>For more information see <a href="https://github.com/paolosalvatori/aks-signalr-ingress">Sample SignalR Chat for AKS and NGINX Ingress Debugging</a></p>
